

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{

  background: url('../img/background.jpg') center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

}

#conteiner-pesquisa{

	height: 300px;

}
#botao-pesquisa{

	color: black;
	background-color: #FFFFFF;
	width: 50px;

}
#rodape{

}
#conteudo{
	padding: auto;
	background: white;
	color: black;
	height: 100%;
	margin: auto;

}
.row{
	margin: 0px;

}
.jumbotron {
   background: rgb(0, 0, 0); /* This is for ie8 and below */
   background: rgba(0, 0, 0, 0.5); 
   margin-bottom: 0px;
}
/*---Seção serviços---*/
#servicos{

	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
}
@media screen and (min-width: 767px) {
 
.pesquisa{

	width: 500px; 
	margin-left: auto; 
	margin-right: auto;

}
}
@media screen and (max-width: 350px) {
 
.pesquisa{

	width: 100px; 
	margin-left: auto; 
	margin-right: auto;

}
}






